
<div class="panel panel-default">
  <div class="panel-body">
    <div class="summernote">Hello Summernote</div>
    <div class="summernote-plugin">Hello Summernote With hello Plugin</div>  
  </div>
</div>
