<h1>summernote-rails test page</h1>

<div id="summernote">Hello Summernote</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#summernote').summernote({
      height: 480
    });
  });
</script>